* {
    font-family: Arial, Helvetica, sans-serif;
}

.header, .footer {
    background-color: #00838F;
    color: white;
    padding: 5px;
    font-size: 130%;
    text-align: center;
}

.left-1, .left-2 {
    background-color: #EFEFEF;
    width: 55%;
}

.left-1 {
    height: 150px; 
    float: left;
}

.left-2 { 
    height: 300px;
    float: left;
}

.right {
    background-color: #4fb3bf;
    width: 45%;
    height: 450px;
    text-align: center;
    float: right;
}

.footer {
    clear: both;
}

img { 
    box-shadow: 10px 10px 7px dimgray;
    margin: 20px;
}

table, td, th {
    border: 1px solid #4fb3bf;
    border-collapse: collapse;
}

table { 
    margin: auto;
    width: 80%;
    
}

tr, th {
    padding: 4px;
}

tr:hover {
    background-color: #4fb3bf;
}

a {
    display: block;
}